
@import "fonts.css";

body {
	max-width:40em;
	margin:0 auto;
	padding: 5px;
  font-size:calc(16px + 1vw);
  line-height:calc(1.1em + 0.5vw);
	color: #474747;
	background-color: #ffffff;
	font-family: IBM Plex Serif;
}

a{
	color:#0064e4;
}

a:hover{
	color:#1d9700;
	font-weight: 600;
}

a:visited{
	color:#7f51d6
}

section{
	margin-bottom:4em
}

table td {
	padding: 0 0.4em;
}

td.num {
	text-align: right;
}
section{
	margin-bottom:4em
}
section#masthead{
	margin-bottom:4em;
}
section#masthead h1{
	margin:0;
  margin-top:2em;
  font-size:calc(3em + 3vw)
}
section#masthead h1 a{
	color:#000;
        text-decoration:none;
}

section#masthead h1 a:hover{
	color:#70b433;
}

section#masthead h1 a:visited{
	color:#000;
        text-decoration:none;
}

h2,h3{
	margin-top:2em;
  font-size:calc(1.5em + 2vw);
  line-height:calc(1.5em + 1vw)
}

@media screen and (max-width: 440px){
	section#masthead h1{
		font-size:3em;
    font-size:calc(3em + 3vw)
	}
	div.presentation_summary img{
		display:block
	}
}
@media screen and (min-width: 440px){
	section#masthead h1{
		font-size:3em;
    font-size:calc(3em + 3vw)
	}
	div.presentation_summary img{
		float:right
	}
}
@media(prefers-color-scheme:dark){
	body{
		background-color:#181818;
		color:#b9b9b9
	}

	a:hover{
		color:#70b433
	}

	a:visited{
		color:#a580e2
	}
	.response{
		background-color:#444
	}
	h1,h1 a,h2,h2 a,h3,h3 a{
		color:#368aeb
	}
        section#masthead h1 a{
		color:#dedede
	}

        section#masthead h1 a:visited{
                color:#dedede;
                text-decoration:none;
        }
}

