
@import "fonts.css";

body {
	font-family: "IBM Plex Sans", sans-serif;
	color: #474747;
	background-color: #ffffff;
  line-height: 1.45;
  font-size: 106.3%;
	margin:0 auto;
	padding: 0.5em;
	max-width:40em
}

a{
	color:#0064e4;
}

a:hover{
	color:#1d9700;
	font-weight: 600;
}

a:visited{
	color:#7f51d6
}

section{
	margin-bottom:1em
}

table td {
	padding: 0 0.4em;
}

td.num {
	text-align: right;
}

section#masthead{
	margin-bottom:2em;
}

section#masthead h1{
	margin:0;
  margin-top:1em;
  font-size:3em;
  line-height:1.5em;
  max-width:50em
}
section#masthead h1 a{
	color:#000;
        text-decoration:none;
}

section#masthead h1 a:hover{
	color:#70b433;
}

section#masthead h1 a:visited{
	color:#000;
        text-decoration:none;
}

h2,h3{
	margin-top:2em;
  font-size:1.5em;
  line-height:1.5em
}

h5{ /* used only for the index page */
	margin-top:0.1em;
  font-size:2em;
  line-height:2em
}

@media screen and (max-width: 800px){
	section#masthead 
	div.presentation_summary img{
		display:block
	}
}
@media screen and (min-width: 800px){
	section#masthead 
	div.presentation_summary img{
		float:right
	}
}
@media (min-width: 400px) {
    body {
        font-size: 118.8%;
    }
}
@media (min-width: 500px) {
    body {
        font-size: 118.8%;
        line-height: 1.55;
    }
}
@media (min-width: 600px) {
    body {
        font-size: 118.8%;
        line-height: 1.66;
    }
}
@media (min-width: 800px) {
    body {
        font-size: 131.3%;
    }
}
@media (min-width: 1030px) {
    body {
        font-size: 137.5%;
    }
}
@media (min-width: 1250px) {
    body {
        font-size: 143.8%;
    }
}
@media (min-width: 1920px) {
    body {
        font-size: 1.563em;
    }
}
.container,
.postheader {
    width: 90%;
    margin: 0 auto;
    max-width: 1360px;
}
.container--wide {
    max-width: 1600px;
}
.container:after,
.centered:after {
    content: "";
    display: table;
    clear: both;
}
.centered {
    max-width: 34em;
    margin: 0 auto;
    clear: both;
    width: 90%;
}
@media (min-width: 600px) {
    .centered {
        width: 84%;
    }
}
.centered.wider {
    max-width: calc(34em + 2em);
}
.centered-block {
    display: block;
    overflow: hidden;
}
@media(prefers-color-scheme:dark){
	body{
		background-color:#181818;
		color:#b9b9b9
	}

  a{
		color:#368aeb
  }

	a:hover{
		color:#70b433
	}

	a:visited{
		color:#a580e2
	}
	.response{
		background-color:#444
	}

	h1,h2,h3,h5{
		color:#368aeb
	}

  section#masthead h1 a{
		color:#dedede
	}

  section#masthead h1 a:visited{
    color:#dedede;
    text-decoration:none;
        }
}

